<h1>Set Candidate Grouping Order</h1>
<h2>Other Candidates in <%= @candidate.party %></h2>
<table>
  <thead>
  <tr>
    <th>Candidate</th>
    <th>Party</th>
    <th>Party Order</th>
  </tr>
  </thead>
  <tbody>
  <% if @other_candidates.nil? || @other_candidates.length == 0 %>
    <tr>
      <td colspan="3">
        There are no other candidates in the party grouping.
      </td>
    </tr>
  <% else %>
    <% @other_candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.first_name.to_s + ' ' + candidate.surname.to_s %></td>
        <td><%= candidate.party %></td>
        <td><%= candidate.order %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<div>
  <%= form.label :order, 'Order:' %>
  <%= form.number_field :order, min: 1 %>
</div>
<%= submit_tag 'Confirm' %>
