<h1>Add New Candidate</h1>
<div>
  <%= form.label :first_name, 'First Name:' %>
  <%= form.text_field :first_name %>
</div>
<div>
  <%= form.label :surname, 'Surname:' %>
  <%= form.text_field :surname %>
</div>
<div>
  <%= form.label :party, 'Party:' %>
  <%= form.text_field :party %>
</div>
