<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="<%= admin_voting_results_path %>">Electoral Commissioner</a>
  <div>
    <%= link_to add_candidates_path, class: "btn btn-outline-primary" do %>
      <i>Add Candidate</i>
    <%end %>
    <%= link_to admin_voting_results_path, class: "btn btn-outline-primary" do %>
      <i>Exclude Candidate</i>
    <%end %>
    <%= link_to admin_voting_results_path, class: "btn btn-outline-danger" do %>
      <i >Logout</i>
    <%end %>
  </div>
</nav>

<%= semantic_flash %>

<%= form_with model: @candidate, url: add_candidates_path, method: :post, local: true, data: { turbo: false }, scope: :candidate do |form| %>
  <%= render "#{@candidate.current_step}_step", :form => form%>
<% end %>
