<style>
  input{
      width: 20%;
      margin-left: 40%;
  }
  input[type=number]{
      margin-left: 0%;
      width: 100%;
  }
</style>

<div class="ballot_header">

  <%= link_to voter_home_page_path, class: "btn btn-outline-primary" do %>
    <i>Back</i>
  <%end %>
  <h1>Ballot Page</h1>
</div>



<% if flash.any? %>
  <% flash.each do |type, msg| %>
    <div class="alert alert-danger" role="alert" style="text-align: center; width: 25%; margin: 0 auto;">
      <%= msg %>
    </div>
  <% end %>
<% end %>
<br>
<%= form_with url: post_vote_path, method: :post do |form| %>
<table class="ui table">
  <thead>

    <% @parties_candidates.keys.each do |party| %>
    <th>
      <%= form.label party.to_sym, party %>
      <%= form.number_field party %>
    </th>
    <% end %>

  </thead>
</table>
  <%= form.submit "Submit Above The Line Vote", class: "btn btn-primary btn-lg" %>
<% end %>

<div class="vertical_line"></div>
<div class="vertical_line2"></div>
<div class="vertical_line3"></div>
<div class="vertical_line4"></div>
<div class="vertical_line5"></div>
<div class="vertical_line6"></div>

<div class="middle_margin"></div>

<%= form_with url: post_vote_path, method: :post do |form| %>
<table class="ui table">
  <thead>
    <% @parties_candidates.keys.each do |party| %>
      <th><%= party %></th>
    <% end %>
  </thead>
  <tbody>

    <% @parties_candidates.keys.each do |party| %>
      <td>
        <table class="ui table">
          <% @parties_candidates[party].each do |candidate| %>
            <tr>
              <td>
                  <%= form.label candidate.id,"#{candidate.first_name} #{candidate.surname}"  %>
                  <%= form.number_field candidate.id %>

              </td>
            </tr>
          <% end %>
        </table>
      </td>
    <% end %>


  </tbody>

</table>
    <%= form.submit "Submit Below The Line Vote", class: "btn btn-primary btn-lg" %>
  <% end %>







