<!doctype html>

<style>
  input{
      height: 50px;
      width: 20%;
      margin-left: 40%;
      border: 1px solid black;
  }

  input[type=number]{
      text-align: center;
      margin-left: 0%;
      width: 35%;
  }

  /*removes the arrows from the number inputs*/
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  /* Firefox */
  input[type=number] {
      -moz-appearance: textfield;
  }
</style>




<div class="ballot_header">

  <%= link_to voter_home_page_path, class: "btn btn-outline-primary" do %>
    <i>Back</i>
  <%end %>
  <h1>Ballot Page</h1>
</div>

<form id="Radio">
  <p>Please choose above or below the line</p>
  <input type="radio" id="Above" name="AboveOrBelow" value="Above">
  <label for="Above">Above the line</label>
  <input type="radio" id="Below" name="AboveOrBelow" value="Below">
  <label for="Below">Below the line</label>

</form>

<% if flash.any? %>
  <% flash.each do |type, msg| %>
    <div class="alert alert-danger" role="alert" style="text-align: center; width: 25%; margin: 0 auto;">
      <%= msg %>
    </div>
  <% end %>
<% end %>
<br>
<%= form_with url: post_vote_path, method: :post do |form| %>
<table class="ui table">
  <thead>

    <% @parties_candidates.keys.each do |party| %>
    <th>
      <%= form.label party.to_sym, party %><br>
      <%= form.number_field party %>
    </th>
    <% end %>

  </thead>
</table>
  <%= form.submit "Submit Above The Line Vote", class: "btn btn-primary btn-lg" %>
<% end %>

<%= form_with url: post_vote_path, method: :post do |form| %>
<table class="ui table">
  <thead>
    <% @parties_candidates.keys.each do |party| %>
      <th><%= party %></th>
    <% end %>
  </thead>
  <tbody>

    <% @parties_candidates.keys.each do |party| %>
      <th>
        <table class="ui table">
          <% @parties_candidates[party].each do |candidate| %>
            <tr>
              <td>
                  <%= form.label candidate.id,"#{candidate.first_name} #{candidate.surname}"  %><br>
                  <%= form.number_field candidate.id %>

              </td>
            </tr>
          <% end %>
        </table>
      </th>
    <% end %>


  </tbody>

</table>
    <%= form.submit "Submit Below The Line Vote", class: "btn btn-primary btn-lg" %>
  <% end %>

</head>
<body>

<script>
    /* starts everything as display none */
    const tables = document.getElementsByClassName("ui table");
    const Button = document.getElementsByClassName("btn btn-primary btn-lg")

    for(let i = 0; i < tables.length; i++){
        tables[i].style.display = "none"
    }

    for(let i = 0; i < Button.length; i++){
        Button[i].style.display = "none";
    }
</script>

<button onclick="HideAboveLine()">Hide Above Line</button><br>
<button onclick="HideBelowLine()">Hide Below Line</button>

<script>
    /*Used to toggle on either above or below the line*/
    function HideAboveLine() {
        const tables = document.getElementsByClassName("ui table");
        const AboveButton = document.getElementsByClassName("btn btn-primary btn-lg")

        for(let l = 0; l < 7; l++){

        }
        if (tables[0].style.display === "none") {
            tables[0].style.display = "block";
            AboveButton[0].style.display = "block";
        } else {
            tables[0].style.display = "none";
            AboveButton[0].style.display = "none";
        }
    }

    function HideBelowLine(){
        const tables = document.getElementsByClassName("ui table");
        const BelowButton = document.getElementsByClassName("btn btn-primary btn-lg");
        for(let i = 1; i < tables.length; i++) {
            if (tables[i].style.display === "none") {
                tables[i].style.display = "block";
                BelowButton[1].style.display = "block";
            } else {
                tables[i].style.display = "none";
                BelowButton[1].style.display = "none";
            }
        }
    }
</script>
</body>
</html>




